.header-root {
  display: block;

  &.top-nav-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &.menu-nav-bar {
    display: flex;
    position: relative;
    align-items: center;
  }
}

.menuItem {
  padding: 0.8rem;
}