.blog-container {
  padding: 1rem;
  font-size: 1.5rem;
}

.blog-section {
  padding: 1rem;
  border: 1px solid rgb(51, 51, 51);
  background-color: rgb(209, 206, 206);
}

.blog-title {
  color: rgb(1, 42, 88);
  font-size: 2rem;
  padding-bottom: 1rem;
}

.blog-content {
  color: rgb(78, 78, 78);
}