html {
  font-size: 62.5%
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.2rem;
}

.button {
  border: 0;
  background-color: transparent;
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  position: relative;
}